'context-menu':
  'atom-text-editor[data-grammar="text abcnotation"]': [
    {
      label: 'ABC Editor'
      submenu: [
        {label: 'Add View',    command: 'atom-abc-editor:addView'}
        {label: 'Remove View', command: 'atom-abc-editor:removeView'}
      ]
    }
  ]
