'context-menu':
  'atom-text-editor': [
    {
      'label': 'Hello ABC'
      'command': 'atom-abc-editor:hello'
    }
  ]

'menu': [
  {
    'label': 'Packages',
    'submenu': [
      {
        'label': 'ABC Editor',
        'submenu': [
          {
            'label': 'Hello',
            'command': 'atom-abc-editor:hello'
          }
        ]
      }
    ]
  }
]
